<!DOCTYPE html>
<html>
    <head>
        <title>User Auth App</title>
    </head>
    <body>
        <h1>Welcome to User Auth App</h1>
        <a href="/register">Register Here...</a><br>
        <a href="/login">Login Here...</a><br>
        <a href="/logout">Logout Here...</a>
    </body>
</html>